Extraer el documento

In [2]:
import pandas as pd
import os as os

In [3]:
file_movies = 'Resources/IMDb_movies.csv'
movies_df = pd.read_csv(file_movies)

In [4]:
movies_df = movies_df[['imdb_title_id','original_title','year','genre','country','director',
'production_company','actors','budget']]
movies_df.head()

,imdb_title_id,original_title,year,genre,country,director,production_company,actors,budget
0,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",$ 2250
1,tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark",Urban Gad,Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",NaN
2,tt0002101,Cleopatra,1912,"Drama, History",USA,Charles L. Gaskill,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",$ 45000
3,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",Italy,"Francesco Bertolini, Adolfo Padovan",Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",NaN
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",USA,Sidney Olcott,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...",NaN

In [5]:
list(movies_df)

['imdb_title_id',
 'original_title',
 'year',
 'genre',
 'country',
 'director',
 'production_company',
 'actors',
 'budget']

Extraer y poner en la lista los generos

In [6]:
genre_df = pd.DataFrame(movies_df.genre.str.split(",",expand=True))
genre_df.head()

           0         1         2
0  Biography     Crime     Drama
1      Drama      None      None
2      Drama   History      None
3  Adventure     Drama   Fantasy
4  Biography     Drama      None

In [7]:
genre_list = []
for i in range(0,len(genre_df)):
    for j in range(3):
        genre_list.append(genre_df.iloc[i][j])

genre = pd.DataFrame(genre_list)
genre.head()

           0
0  Biography
1      Crime
2      Drama
3      Drama
4       None

In [8]:
genre = genre.rename(columns={0:'genre'})
genre = genre['genre'].str.strip()
genre = genre.drop_duplicates()
genre = pd.DataFrame(genre)
genre

              genre
0         Biography
1             Crime
2             Drama
4              None
7           History
9         Adventure
11          Fantasy
17          Romance
22              War
44          Mystery
50           Horror
63          Western
81           Comedy
90           Family
105          Action
182          Sci-Fi
409        Thriller
418           Sport
1140      Animation
1229        Musical
1639          Music
1763      Film-Noir
47004         Adult
78294   Documentary
111157   Reality-TV
186352    Game-Show
196858         News

Extraer y hacer catalogo el country

In [9]:
country_df = pd.DataFrame(movies_df.country.str.split(",",expand=True))
country_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Australia,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Germany,Denmark,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,USA,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Italy,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,USA,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [10]:
country_list = []
for i in range(0,len(country_df)):
    for j in range(24):
        country_list.append(country_df.iloc[i][j])

country = pd.DataFrame(country_list)
country.head()

           0
0  Australia
1       None
2       None
3       None
4       None

In [11]:
country = country.rename(columns={0:'country'})
country = country['country'].str.strip()
country = country.drop_duplicates()
country = pd.DataFrame(country)
country

                               country
0                            Australia
1                                 None
24                             Germany
25                             Denmark
48                                 USA
...                                ...
1842339                       Djibouti
1892737                     Guadeloupe
1901809                         Malawi
1903921  Holy See (Vatican City State)
1906296                           Oman

[192 rows x 1 columns]

In [12]:
company = pd.DataFrame(movies_df['production_company'])
company = company.dropna()
company = company['production_company'].drop_duplicates()
company

0                       J. and N. Tait
1                             Fotorama
2        Helen Gardner Picture Players
3                          Milano Film
4                        Kalem Company
                     ...
81268              Ekaa Art Production
81269          Thomas Thiruvalla Films
81270                Benzy Productions
81271                 RMCC Productions
81272                      Gizem Ajans
Name: production_company, Length: 30122, dtype: object

Extraer y generar catalogo de directores

In [13]:
director_df = pd.DataFrame(movies_df.director.str.split(",",expand=True))
director_df

                         0                1
0             Charles Tait             None
1                Urban Gad             None
2       Charles L. Gaskill             None
3      Francesco Bertolini   Adolfo Padovan
4            Sidney Olcott             None
...                    ...              ...
81268      Aswani Kumar V.             None
81269                  Zam             None
81270        T.V. Chandran             None
81271      Vineesh Aaradya             None
81272    Ahmet Faik Akinci             None

[81273 rows x 2 columns]

In [14]:
director_list = []
for i in range(0,len(director_df)):
    for j in range(1):
        director_list.append(director_df.iloc[i][j])

director = pd.DataFrame(director_list)
director.head()

                     0
0         Charles Tait
1            Urban Gad
2   Charles L. Gaskill
3  Francesco Bertolini
4        Sidney Olcott

In [15]:
director = director.rename(columns={0:'director'})
director = director['director'].str.strip()
director = director.drop_duplicates()
director = pd.DataFrame(director)
director

                  director
0             Charles Tait
1                Urban Gad
2       Charles L. Gaskill
3      Francesco Bertolini
4            Sidney Olcott
...                    ...
81264   Adam Bin Amiruddin
81265     Robert Fernandez
81268      Aswani Kumar V.
81269                  Zam
81271      Vineesh Aaradya

[30252 rows x 1 columns]

Extraer y hacer el catalogo de actores

In [16]:
actors_df = pd.DataFrame(movies_df.actors.str.split(',',expand=True))
actors_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Elizabeth Tait,John Tait,Norman Campbell,Bella Cola,Will Coyne,Sam Crewes,Jack Ennis,John Forde,Vera Linden,Mr. Marshall,Mr. McKenzie,Frank Mills,Ollie Wilson,None,None,None
1,Asta Nielsen,Valdemar Psilander,Gunnar Helsengreen,Emil Albes,Hugo Flink,Mary Hagen,None,None,None,None,None,None,None,None,None,None
2,Helen Gardner,Pearl Sindelar,Miss Fielding,Miss Robson,Helene Costello,Charles Sindelar,Mr. Howard,James R. Waite,Mr. Osborne,Harry Knowles,Mr. Paul,Mr. Brady,Mr. Corker,None,None,None
3,Salvatore Papa,Arturo Pirovano,Giuseppe de Liguoro,Pier Delle Vigne,Augusto Milla,Attilio Motta,Emilise Beretta,None,None,None,None,None,None,None,None,None
4,R. Henderson Bland,Percy Dyer,Gene Gauntier,Alice Hollister,Samuel Morgan,James D. Ainsley,Robert G. Vignola,George Kellog,J.P. McGowan,None,None,None,None,None,None,None

In [17]:
actors_list = []
for i in range(0,len(actors_df)):
    for j in range(15):
        actors_list.append(actors_df.iloc[i][j])

actors = pd.DataFrame(actors_list)
actors.head()

                  0
0    Elizabeth Tait
1         John Tait
2   Norman Campbell
3        Bella Cola
4        Will Coyne

In [18]:
actors = actors.rename(columns={0:'actors'})
actors = actors['actors'].str.strip()
actors = actors.drop_duplicates()
actors = pd.DataFrame(actors)
actors

                  actors
0         Elizabeth Tait
1              John Tait
2        Norman Campbell
3             Bella Cola
4             Will Coyne
...                  ...
1219089     Dilek Ölekli
1219090     Arcan Bunial
1219091   Seval Hislisoy
1219092  Ergül Çolakoglu
1219094  Ibrahim Balaban

[396155 rows x 1 columns]