In [1]:
import os
import pandas as pd
import ast
from pandas.io.json import json_normalize
import numpy as np

In [2]:
input_path_mov1 = os.path.join('Resources','movies_metadata.csv')
cleaned_path_mov1 = os.path.join('Resources','cleaned','movies_metadata__clean.csv')

input_path_mov2 = os.path.join('Resources','AllMoviesDetailsCleaned.csv')
cleaned_path_mov2 = os.path.join('Resources','cleaned','movies_metadata__clean.csv')

In [3]:
movies_metadata_df = pd.read_csv(input_path_mov1)
all_movies_df = pd.read_csv(input_path_mov2, sep= ';')

In [4]:
new_all_movies = all_movies_df[['imdb_id','original_title','genres','original_language','popularity','production_companies','runtime','vote_average','vote_count','release_date','revenue']]

new_metadata = movies_metadata_df[['imdb_id','original_title','original_language','popularity','runtime','vote_average','vote_count','release_date','revenue']]

In [5]:
#Creating the function to extract the columns that have json format
def get_unique_value(df_column,empty_list,name_str):
    num = 0
    for item in df_column:

        try:
            item_code = ast.literal_eval(item)
            json_item = json_normalize(item_code)

            try:
                empty_list.append(json_item[name_str][0])

            except:

                empty_list.append(np.nan)

        except:
            empty_list.append(np.nan)

In [6]:
#Get the first value from genders
df_column = movies_metadata_df['genres']
values = []

get_unique_value(df_column,values,'name')

#Insert the new column to new_metadata dataframe
new_metadata['genres'] = values

In [7]:
#Get the first value from genders
df_column = movies_metadata_df['production_companies']
values = []

get_unique_value(df_column,values,'name')

#Insert the new column to new_metadata dataframe
new_metadata['production_companies'] = values

In [8]:
##Split the Genders in separated columns from new_metadata
new_all_movies[['genres','Genre 2','Genre 3','Genre 4','Genre 5','Genre 6','Genre 7','Genre 8','Genre 9','Genre 10','Genre 11']] = new_all_movies['genres'].str.split('|',expand=True)

#Remove all the genres except one
new_all_movies_df = new_all_movies[['imdb_id','original_title','genres','original_language','popularity','production_companies','runtime','vote_average','vote_count','release_date','revenue']]

In [9]:
new_all_movies_df.head()

,imdb_id,original_title,genres,original_language,popularity,production_companies,runtime,vote_average,vote_count,release_date,revenue
0,tt0094675,Ariel,Drama,fi,0.823904,Villealfa Filmproduction Oy,69.0,7.1,40,21/10/1988,0
1,tt0092149,Varjoja paratiisissa,Drama,fi,0.47445,Villealfa Filmproduction Oy,76.0,7.0,32,16/10/1986,0
2,tt0113101,Four Rooms,Crime,en,1.698,Miramax Films,98.0,6.5,485,25/12/1995,4300000
3,tt0107286,Judgment Night,Action,en,1.32287,Universal Pictures,110.0,6.5,69,15/10/1993,12136938
4,tt0825671,Life in Loops (A Megacities RMX),Documentary,en,0.054716,inLoops,80.0,6.4,4,01/01/2006,0
...,...,...,...,...,...,...,...,...,...,...,...
329039,tt5430190,The Day Hitler Died,Documentary,en,0.0045,History Channel,46.0,7.0,1,21/01/2016,0
329040,NaN,Mobb Deep - Life of the Infamous: The Videos,NaN,de,0.00045,Sony Music Entertainmant,NaN,9.0,1,24/11/2006,0
329041,NaN,#idiot,Drama,en,1.37217,none,11.0,0.0,0,02/08/2017,0
329042,tt6391664,Conspiracy P.I.E,Drama,en,0.0096,none,12.0,0.0,0,10/11/2016,0
329043,tt6413160,Chance,Drama,en,0.0759,none,90.0,0.0,0,30/06/2017,0

In [10]:
new_metadata.head()

,imdb_id,original_title,original_language,popularity,runtime,vote_average,vote_count,release_date,revenue,genres,production_companies
0,tt0114709,Toy Story,en,21.9469,81.0,7.7,5415.0,1995-10-30,373554033.0,Animation,Pixar Animation Studios
1,tt0113497,Jumanji,en,17.0155,104.0,6.9,2413.0,1995-12-15,262797249.0,Adventure,TriStar Pictures
2,tt0113228,Grumpier Old Men,en,11.7129,101.0,6.5,92.0,1995-12-22,0.0,Romance,Warner Bros.
3,tt0114885,Waiting to Exhale,en,3.85949,127.0,6.1,34.0,1995-12-22,81452156.0,Comedy,Twentieth Century Fox Film Corporation
4,tt0113041,Father of the Bride Part II,en,8.38752,106.0,5.7,173.0,1995-02-10,76578911.0,Comedy,Sandollar Productions

In [11]:
new_metadata.to_csv(cleaned_path_mov1)
new_all_movies_df.to_csv(cleaned_path_mov2)