In [1]:
import pandas as pd 
import os

In [2]:
#Imput and output paths to load and save
input_path = os.path.join('Resources','rotten_tomatoes_top_movies_2019-01-15.csv')
cleaned_path = os.path.join('Resources','cleaned','rotten_tomatoes_clean.csv')

In [3]:
rotten_df = pd.read_csv(input_path)

In [4]:
rotten_df.head()
#Rename Genres column
rotten_df.rename(columns = {'Genres':'Genre'}, inplace = True)

In [5]:
#Null values per column
rotten_df.isnull().sum()

Rank                 0
Title                0
RatingTomatometer    0
No. of Reviews       0
Genre                0
dtype: int64

In [6]:
#Separate the year from column Title without "( )"
temp = rotten_df['Title'].apply(lambda x: x.split('('))
split_year = temp.apply(lambda x: x[1])
split_title = temp.apply(lambda x: x[0])
remove_year_char = split_year.apply(lambda x: x.split(')'))
year_clean = remove_year_char.apply(lambda x: x[0])

#Asign resultant series to a column in rotten_df dataframe 
rotten_df['Year'] = year_clean
#Set new Title without Year
rotten_df['Title'] = split_title
#Split Genres
rotten_df[['Genre','Genre 2']] = rotten_df['Genre'].str.split('|',expand=True)

In [7]:
#Reorder the columns
rotten_df = rotten_df[['Rank','Title','Year','RatingTomatometer','No. of Reviews','Genre','Genre 2']]

In [8]:
rotten_df.head()

,Rank,Title,Year,RatingTomatometer,No. of Reviews,Genre,Genre 2
0,1,Black Panther,2018,97,444,action,adventure
1,2,Mad Max: Fury Road,2015,97,394,action,adventure
2,3,Wonder Woman,2017,93,410,action,adventure
3,4,Metropolis,1927,99,118,action,adventure
4,5,Coco,2017,97,308,action,adventure

In [9]:
#Save the cleaned file
rotten_df.to_csv(cleaned_path)