In [1]:
import pandas as pd
import os as os
from sqlalchemy import create_engine
from config import username,password,localhost,database

In [2]:
db = os.path.join('Resources','cleaned','IMBd movies 2.csv')
df = pd.read_csv(db)

In [3]:
engine = create_engine(f'postgres+psycopg2://{username}:{password}@localhost:{localhost}/{database}')
conn = engine.connect()

In [5]:
df.head(2)

,imdb_id,original_title,genres,original_language,popularity,production_companies,runtime,vote_average,vote_count,release_date,revenue
0,tt0114709,Toy Story,Animation,en,21.946943,Pixar Animation Studios,81.0,7.7,5415.0,30/10/95,373554033.0
1,tt0113497,Jumanji,Adventure,en,17.015539,TriStar Pictures,104.0,6.9,2413.0,15/12/95,262797249.0

In [8]:
df.to_sql('prueba', con=conn)